<app-nav></app-nav>
<div class="container-fluid bg0">
  <div class="d-flex justify-content-start align-iten-center">
    <div class="bg1">
      <h1 style="font-weight: 600; font-size: 56px">About Us</h1>
      <span
        >We believe that every single person in the world should have the right
        to enjoy asset management. Since 2018 Aidus has strived to become the
        next borderless financial platform which enables millions of crypto
        holders to maximize the potential of their crypto assets with
        transparency.
      </span>
    </div>
    <div>
      <img
        src="../../../assets/aboutuscompany/Rectangle 543435.png"
        style="
          height: 450px;
          width: 636px;
          margin-top: 100px;
          margin-left: 140px;
          margin-bottom: 100px;
        "
        alt=""
      />
    </div>
  </div>
  <div class="row bg">
    <div class="col-md">
      <h2
        style="
          margin-left: 135px;
          margin-top: 84px;
          font-size: 32px;
          font-weight: 600;
        "
      >
        Our Values
      </h2>
      <img
        src="../../../assets/aboutuscompany/Rectangle 543436.png"
        class="img1"
        alt=""
      />
    </div>
    <div class="col-md text1">
      <div class="d-flex text">
        <img
          src="../../../assets/AIDUS Card/section03/1.png"
          style="width: 32.82px; height: 32px"
          alt=""
        />
        <div style="margin-left: 15px">
          <h1 style="font-size: 24px; font-weight: 600">
            Build trust with transparency and Integrity
          </h1>
          <span
            style="
              font-size: 18px;
              font-weight: 500;
              /* padding-left: 6px; */
              color: #807d7d;
            "
            >We always put transparency as our top priority. We are <br />doing
            what is right and delivering what we promise.
          </span>
        </div>
      </div>

      <div class="d-flex text">
        <img
          src="../../../assets/AIDUS Card/section03/2.png"
          style="width: 32.82px; height: 32px"
          alt=""
        />
        <div style="margin-left: 15px">
          <h1 style="font-size: 24px; font-weight: 600">Customer Commitment</h1>
          <span
            style="
              font-size: 18px;
              font-weight: 500;
              /* margin-left: 50px; */
              color: #807d7d;
            "
            >We develop relationships that make a positive<br/> difference in our
            customers’ lives.
          </span>
        </div>
      </div>

      <div class="d-flex text">
        <img
          src="../../../assets/AIDUS Card/section03/3.png"
          style="width: 32.82px; height: 32px"
          alt=""
        />
        <div style="margin-left: 15px">
          <h1 style="font-size: 24px; font-weight: 600">Innovation</h1>
          <span
            style="
              font-size: 18px;
              font-weight: 500;
              /* margin-left: 50px; */
              color: #807d7d;
            "
            >We promote an innovative culture and attitude. We think<br/> differently
            and strive to apply innovative thinking and<br> creativity to everything
            we do.
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="text3">
    <h1>Expand our transparency</h1>
    <div class="text4">
      <p>
        AGF Summit Fund, the very first fund operated by applying AIDUS QTS has
        completed registration at Monetary Authority of Singapore(MAS)
      </p>
      <p>
        Aidus is pleased to announce that we have successfully launched AGF
        Summit Fund in 2020, a sub-fund of Ternary Infinity Fund VCC, a company
        incorporated as an umbrella Variable Capital Company under the laws of
        Singapore.
      </p>
      <p>
        VCC Name: TERNARY INFINITY FUND VCC<br />
        Sub-Fund name: AGF SUMMIT FUND (AISYS Global First SUMMIT FUND)<br />
        Registered country: Singapore <br />Sub-Fund number: T20VC0001L-SF002
      </p>
    </div>
  </div>
  <app-footer></app-footer>
</div>

