<app-nav></app-nav>
<div class="container-fluid bg">
  <div class="container bg0">
    <h1
      style="
        font-size: 88px;
        font-weight: 600;
        color: #0354a6;
        margin-left: 305px;
        padding: 80px;
      "
    >
      SECURITY is
    </h1>
    <h1
      style="
        font-size: 88px;
        font-weight: 600;
        margin-left: 317px;
        margin-top: -100px;
      "
    >
      always the first
    </h1>
    <img
      src="../../../assets/Security/Security shield.png"
      style="height: 257px; width: 242px; margin-left: 545px; margin-top: 40px"
      alt=""
    />
  </div>
</div>
<div class="container-fluid bg1">
  <div class="bg2">
    <!-- <h1 style="margin-left: 440px; font-size: 56px; font-weight: 600">
      Platform Security
    </h1>
    <div class="row">
      <img
        src="../../../assets/Security/securityimg/2FA Authentication.png"
        style="margin-top: 117px"
        alt=""
      />
      <img
        src="../../../assets/Security/securityimg/Whitelisting.png"
        style="margin-top: 130px"
        alt=""
      />
      <img
      src="../../../assets/Security/securityimg/Withdrawal Confirmations & Log-in Alerts.png"
      style="margin-top: 130px"
      alt=""
    />
    </div> -->
    <div>
      <img
        src="../../../assets/Security/securityimg/Platform Security.png"
        style="height: 1700px; width: 1430px"
        alt=""
      />
    </div>
  </div>
</div>
<app-footer></app-footer>
