.bg0 {
  background: aliceblue;
  /* box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.1); */
  /* border-radius: 6px; */
  /* padding: 16px; */
  height: 650px;
  padding: 0px;
  margin-top: -15px;
  background-image: url("../../../assets/Background.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.bg1 {
  padding: 170px;
}
.benefit {
  background: aliceblue;
}
.benefit1 {
  margin-top: 47px;
}
.frame1{
 margin-top: 50px;
 margin-left: 415px;
 margin-bottom: 130px;
}
.location{
    background-color: blue;
    height: 600px;
    /* width: 700px; */
    margin-top: 20px;
}
.location1{
    padding: 145px;
    padding-left: 229px;
    
}
.btn{
    width: 425px;
    background-color: white;
    margin-top: 37px;
    text-align: center;
}
.location2{
    width: 570px;
    padding: 80px;
    padding-left: 265px;
}
.card3{
    width: 1216px;
    height: 138px;
    background-color: #D6E6FF;
    margin-left: 140px;
}
.img2{
    padding: 15px;
    margin-left: 80px;
    margin-top: 20px;
}

.bg {
    background: #ffffff;
    /* box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.1); */
    border-radius: 6px;
    padding: 16px;
    /* height: 980px; */
    padding: 0px;
    margin-top: 220px;
    
  }
  .text1 {
    margin-top: 140px;
    font-size: 56px;
    font-weight: 600;
  }
  .text {
    font-size: 18px;
    font-weight: 500;
  }
  .card0 {
    padding: 13px;
    margin-left: 110px;
    width: 240px;
    border-color: rgb(211, 231, 245);
  }
  .card1 {
    width: 920px;
    margin-left: -46px;
    border-color: rgb(167, 200, 230);
    border-radius: 10px;
    margin-bottom: 2rem;
  }
  .text2 {
    width: 47%;
    text-align: center;
  }
  .accordion-button::after {
    background-image: url("../../../assets/plus.png");
    margin-bottom: 2rem;
    align-items: center;
  }
  .accordion-item{
    margin-bottom: 1rem;
  }
  .back2{
    height: 700px;

  }
  .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    margin-top: 20px;
    
  }


