<app-nav></app-nav>

<div class="container-fluid bg0">
  <div class="d-flex justify-content-start align-iten-center">
    <div class="bg1">
      <h1 style="font-weight: 600; font-size: 56px">Earn a Passive Income</h1>
      <div>
        <span style="font-weight: 600; font-size: 56px">with</span>
        <span style="font-weight: 600; font-size: 56px; color: #0354A6;"> Aidus Token </span>
      </div>
      <span style="font-size: 20px;font-weight: 500;"
        >AIDUS Token is the way to achieve the next financial freedom.<br />
        HODL Aidus Token and stake
        it on Earn Maximum. <br/>Feel the difference.
      </span>
    </div>
    <div>
      <img
        src="../../../assets/Token img/Aidus token.png"
        style="
          height: 450px;
          width: 450px;
          margin-top: 100px;
          margin-left: -30px;
          margin-bottom: 70px;
        "
        alt=""
      />
    </div>
  </div>
  <div class="benefit">
    <div class="d-flex justify-content-center benefit1">
      <h1 style="font-size: 56px; font-weight: 600">What are the benefits?</h1>
    </div>
    <div class="d-flex" style="margin-top: 50px">
      <div style="margin-left: 220px">
        <h5 style="color: #0354a6">Current Price</h5>
        <span>$0.755540</span>
      </div>
      <div style="margin-left: 170px">
        <h5 style="color: #0354a6">Market Cap</h5>
        <span>$423,102,681</span>
      </div>
      <div style="margin-left: 155px">
        <h5 style="color: #0354a6">24h Volume</h5>
        <span>$18,661,967</span>
      </div>
      <div style="margin-left: 165px">
        <h5 style="color: #0354a6">Circulating Supply</h5>
        <h6>560,000,011 AIDUS</h6>
        <span>Total Supply: 1,000,000,000</span>
      </div>
    </div>
    <div class="frame1">
      <img
        src="../../../assets/Token img/token card/Frame 13798.png"
        style="height: 693px; width: 693px"
        alt=""
      />
    </div>

    <div class="location">
      <div class="row">
        <div class="col-md-6 location1" style="color: white">
          <h1 style="font: size 56px; font-weight: 600">Where to buy AIDUS?</h1>
          <span
            >Choose to buy AIDUS TOKEN on the exchange or to contact out OTC
            desk.</span
          >
          <button class="btn btn-primary">
            <h5 style="color: #0354a6; margin-right: 15px; margin-top: 10px;">Contact OTC</h5>
          </button>
        </div>
        <div class="col-md location2">
          <img
            src="../../../assets/Token img/token card/Group 13835.png"
            style="height: 310px"
            alt=""
          />
        </div>
      </div>
      <div class="card card3">
        <div class="d-flex">
          <img
            src="../../../assets/Token img/token card/image 41.png"
            style="height: 84.92px; width: 388px"
            class="img2"
            alt=""
          />
          <span style="margin-top: 60px; margin-left: 235px"
            >A More Exchange coming soon</span
          >
        </div>
      </div>
    </div>
    <div class="container-fluid bg">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="text1">Frequently Asked Questions</h1>
        <span class="text2"
          >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor Lorem ipsum dolor sit amet consetetur sadipscing
          elitr</span
        >
      </div>
      <div class="container back2">
        <div class="row" style="margin-top: 4rem">
          <div class="col-md-4">
            <div class="card card0">
              <div class="card-body">
                <h6 style="margin-bottom: 2rem" [routerLink]="['/home']">General</h6>
                <h6 style="margin-bottom: 2rem" [routerLink]="['/home/product-earn']">Earn</h6>
                <h6 style="margin-bottom: 2rem" [routerLink]="['/home/product-earnsafe']">Earn Safe</h6>
                <h6 style="margin-bottom: 2rem" [routerLink]="['/home/product-earnmax']">Earn Maximum</h6>
                <h6 style="margin-bottom: 2rem" [routerLink]="['/home/token']">AIDUS Token</h6>
              </div>
            </div>
          </div>
          <div class="col-md" style="margin-bottom: 140px">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                  What is Aidus Token and what are the benefits of owning AIDUS Tokens?
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    At Aidus we value all of our customers greatly which is why we devised AIDUS Token. By AIDUS Token, you could subscribe Earn Maximum Product which you could receive a biweekly passive income. Earn Maximum is a performance-based product which we will share up to 50% of the profits. You could subscribe Earn Maximum through Aidus Token and receive earnings in USDT(Tether). Every two weeks a new season of Earn Maximum product is opened and once a season ends earnings are distributed.
                  </div>
                </div>
              </div>
              <div
                class="accordion-item"
                style="border-top: 1px solid rgba(0, 0, 0, 0.125)"
              >
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                  How to buy AIDUS Tokens?
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    AIDUS Token is available on Foblgate Exchange(https://www.foblgate.com/trade?pairName=AIDUS/BTC) or you could contect our OTC desk for more information. 
                  </div>
                </div>
              </div>
              <div
                class="accordion-item"
                style="border-top: 1px solid rgba(0, 0, 0, 0.125)"
              >
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                  Is AIDUS Token planning to be listed on other exchanges?
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    Yes, we are currently preparing to be listed on various exchanges. 
                    </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
