<div class="container-fluid bg">
  <div class="d-flex">
    <div class="text">
      <h1 class="text2">
        Enjoy earning with zero <br />fees
      </h1>
      <span class="text3"
        >Gas fees, transfer fees, withdrawal fees, handling fees & <br />
        performamce fees are completely waived in AIDUS Platform.</span
      >
      <h2
      class="text4"
        style="
          font-size: 32px;
          font-weight: 600;
          color: #ffffff;
          margin-top: 40px;
        "
      >
        Sign Up >
      </h2>
    </div>
    <div class="text1">
      <span class="text5">0%</span>
      <h1 class="text6">
        Zero Fees
      </h1>
    </div>
  </div>
</div>
