<div class="container bg"> 
    <h4>Earn Safe</h4>
    <p>Grow the value of your assets.        </p>
    <label>Available Balance: <b>2.9876 ETH</b> </label>
    <div class="form-group">
      <input type="number" class="form-control border-0" name="amount" ngModel>
      <select class="custom-select border-0" id="inputGroupSelect01">
        <option value="ETH" selected><img style="height: 24px; width: 24px;"
            src="../../../../assets/Landing page AIDUS/eth- Section 3.png"> ETH</option>
        <option value="BTC"><img src="../../../../assets/Landing page AIDUS/btc Section 3.png"> BTC</option>
        <option value="USDT"><img src="../../../../assets/Landing page AIDUS/USDT Section 3.png"> USDT</option>
        <option value="AIDUS"><img src="../../../../assets/Landing page AIDUS/AIDUS Section 3.png"> AIDUS</option>
      </select>
    </div>
    <div style="float: right;">
      <button type="button" class="btn percent">25%</button>
      <button type="button" class="btn percent mr-2">50%</button>
      <button type="button" class="btn percent">75%</button>
      <button type="button" class="btn percent">100%</button>
    </div>
    <h4 class="mt-5">Staking Period</h4>
    <div class="mt-2" style="display:flex; justify-content: space-between;">
      <button type="button" class="btn percent1">30 days</button>
      <button type="button" class="btn percent1">60 days</button>
      <button type="button" class="btn percent1">90 days</button>
      <button type="button" class="btn percent1">120 days</button>
    </div>
    <div class="mt-3" style="display:flex; justify-content: space-between;">
      <span>Fixed Interest Rate: <b>5.67% APR</b> </span>
      <span>USD Equivalent: <b>3,213.54</b> </span>
    </div>
    <button type="button" class="btn stake">Stake Now</button>
  </div>
