<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="container bg">
      <div>
        <span>
          <img
            alt=""
            style="
              height: 96px;
              width: 96px;
              margin-left: 215px;
              margin-top: 25px;
            "
            src="../../../../assets/AIDUS wallet assets/Group 13460.png"
          />
        </span>
        <div>
          <span
            style="
              height: 28px;
              width: 186px;
              margin-left: 205px;
              margin-top: 20rem !important;
            "
            >Congratulations!</span
          >
          <br />
          <span
            style="
              height: 21px;
              width: 303px;
              margin-left: 128px;
              margin-top: 176px;
              font: Poppins;
            "
          >
            Your transaction has been successful.
          </span>
        </div>
        <div style="display: flex; margin-top: 40px">
          <div style="margin-left: 80px">
            <h6>Product name</h6>
            <span style="margin-left: 10px">Earn</span>
          </div>
          <div style="margin-left: 30px">
            <h6>APR</h6>
            <span>5.67%</span>
          </div>
          <div style="margin-left: 40px">
            <h6>Token</h6>
            <span>1.4938 ETH</span>
          </div>
          <div style="margin-left: 40px">
            <h6>Period</h6>
            <span>90 Days</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
