.bg0 {
  background: aliceblue;
  /* box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.1); */
  /* border-radius: 6px; */
  /* padding: 16px; */
  height: 630px;
  padding: 0px;
  margin-top: -15px;
  background-image: url("../../../assets/Background.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.back1 {
  background-color: aliceblue;
  /* box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.1); */
  height: 650px;
}

.bgtext1 {
  /* padding: 10px; */
  /* background: aliceblue; */
  width: 640px;
  margin-left: 140px;
  margin-top: 86px;
}
.btn0 {
  width: 206px;
  background-color: #0354a6;
  margin-top: 30px;
  height: 56px;
}
.bg1 {
  background: aliceblue;
  margin-top: 80px;
  box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.1);
}
.bg0text {
  background-color: #d6e6ff;
  padding: 80px;
}
.bg1text {
  /* padding: 80px; */
  /* margin-bottom: 30px !important; */
  background-color: #d6e6ff;
  margin-left: 80px;
  margin-top: 40px;
}
.bgimg {
  margin-top: 70px;
  margin-bottom: 55px;
}

.bg2 {
  background: #f5faff;
  border-width: 0px 4px 4px 0px;
  border-style: solid;
  border-color: #0354a6;
  box-shadow: 0px 6.48185px 4.86139px rgba(16, 24, 40, 0.1);
  border-radius: 24px;
  height: 482px;
  width: 1216px;
  margin-left: 60px;
}
.bg6 {
  background-color: #0354a6;
  height: 800px;
  width: 100%;
}
.bg51 {
  padding: 80px;
  padding-top: 170px;
  padding-left: 450px;
}
.card0 {
  padding: 13px;
  border-radius: 6px;
  margin-left: 110px;
  width: 240px;
  border-color: rgb(211, 231, 245);
}
.accordion-button::after {
  background-image: url("../../../assets/plus.png");
  margin-bottom: 2rem;
  align-items: center;
}
.accordion-item {
  margin-bottom: 1rem;
  border-radius: 9px;
  margin-bottom: 40px;
}
.back2 {
  height: 100%;
}
.text1 {
  margin-top: 140px;
  font-size: 56px;
  font-weight: 600;
}
.text2 {
  margin-bottom: 100px;
  /* width: 710px; */
  /* margin-left: 45px; */
  margin-top: 10px;
  width: 47%;
  text-align: center;
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  margin-top: 20px;
  
}
