.navbar {
  background: #FFFFFF;
  box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.1);
}

.nav-link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #424242;
}
.active{
  color: #0354A6
}
