<app-nav></app-nav>

<div class="container-fluid bg0">
  <div class="container">
    <h1>Privacy Policy</h1>
    <div>
      <p>
        This Privacy Policy is meant to help you understand the processing of
        information provided or collected on this website. It also explains the
        processing of information provided or collected by using the Company's
        applications on third-party websites or platforms.
      </p>
      <p>
        The Company values the user's personal information, and we will notify
        you through the Privacy Policy about the Company's purpose and methods
        of using personal information provided by the user and what measures are
        being taken to protect personal information.
      </p>
      <p>
        This Policy will take effect from 18 March, 2021. Future revisions to
        this Policy will be updated on the Aidus Website and we will notify you
        of any changes to these Terms by modifying the [last update date] within
        the Terms.
      </p>
      <p>
        Terms used in this Privacy Policy shall have the meaning set forth in
        the relevant laws and regulations and the Company's terms and
        conditions; other matters shall be subject to general commercial
        practice.
      </p>
      <p>
        ※ This Service is for users who are 18 years of age or older, and
        children under the age of 18 are not eligible to sign up for or use the
        Service.
      </p>
    </div>
    <h4>1. TYPES OF PERSONAL INFORMATION COLLECTED AND COLLECTION METHODS</h4>
    <h5>1.1. TYPES OF PERSONAL INFORMATION COLLECTED</h5>
    <h6>Information Provided by Users</h6>
    <div>
      <p>
        When a user signs up for membership and uses Aidus Platform, the Company
        collects personal information provided directly by the user.
      </p>
      <p>
        1) E-mail, password and mobile phone number will be collected as
        required items when signing up by email.
      </p>
      <p>
        2) When a user requests that a freeze of their account is lifted, the
        user's name, gender, identification card, selfie with ID and proof of
        residence will be collected as &nbsp;&nbsp;&nbsp;&nbsp;required items
        necessary for identity verification.
      </p>
      <p>
        3) When a member starts using the Aidus product after signing up, the
        email verification information registered at the time of signing up will
        be collected as a &nbsp;&nbsp;&nbsp;&nbsp;required item.
      </p>
      <p>
        4) Upon the first withdrawal of digital assets deposited by a user after
        signing up for membership, the mobile phone number will be collected as
        a required item.
      </p>
      <p>
        5) When a user withdraws digital assets exceeding a certain amount, the
        user's name, gender, identification card, selfie with ID, and proof of
        residence will be &nbsp;&nbsp;&nbsp;&nbsp;collected as required items
        necessary for identity verification.
      </p>
    </div>
    <h2>Information Collected When Users Use the Service</h2>
    <div>
      <p>
        In addition to the information directly provided by a user, the Company
        may collect information while the user uses the Company's services:
      </p>
      <p>
        1) When a member sets up 2-Step verification after signing up,
        verification information will be collected as optional items.
      </p>
      <p>
        2) When a user contacts the Company through the customer center,
        information including name and e-mail will be collected as optional
        items.
      </p>
      <p>
        3) When using the Service, information generated during use will be
        collected, including, but not limited to, the browser type and settings,
        environment &nbsp;&nbsp;&nbsp;&nbsp;information such as device data, as
        well as usage type and.
      </p>
      <p>
        4) IP addresses, cookies, device information, date and time of visit,
        service usage records, and improper usage records may be generated and
        collected.
      </p>
      <p>
        5) Additional personal information may be collected in the process of
        applying for events and prizes. If it is necessary to collect additional
        personal information, &nbsp;&nbsp;&nbsp;&nbsp;we will notify the user
        with regard to personal information to be collected, the purpose of
        collection and use of personal information, retention and use period of
        &nbsp;&nbsp;&nbsp;&nbsp;personal information and will request consent at
        the time of collection.
      </p>
    </div>

    <h2>1.2. COLLECTION METHODS</h2>
    <h2>The Company collects user information in the following ways:</h2>
    <div>
      <p>
        1) Web page, written form, fax, telephone, e-mail, data collection tool,
        etc.;
      </p>
      <p>2) Provision through partner companies.</p>
    </div>
    <h2>2. USE OF COLLECTED INFORMATION</h2>
    <h2>
      The Company uses the collected user information for purposes including :
    </h2>
    <div>
      <p>
        1) If it is necessary to use the information for purposes other than
        those specified in this Privacy Policy, the Company shall take every
        reasonable effort to obtain &nbsp;&nbsp;&nbsp;&nbsp;the user's consent.
      </p>
      <p>
        2) Protecting users and service operation, including by preventing and
        sanctioning actions that interfere with our ability to comply with
        applicable laws and legal &nbsp;&nbsp;&nbsp;&nbsp;obligations or
        smoothly operate the services, preventing account theft, preserving
        records for dispute settlements, and handling customer inquires
      </p>
      <p>
        3) Fulfilling contracts and paying out profits in relation to providing
        services requested by users
      </p>
      <p>4) Improving existing services, developing new services</p>
      <p>
        5) Collecting statistics on users' use of services, providing services
        or advertisements according to statistical characteristics
      </p>
      <p>6) Notifying of changes to Company's sites or policies</p>
      <p>
        7) Providing information about promotional events and opportunities for
        participation therein
      </p>
      <p>8) Other uses with the user's prior consent.</p>
      <p>
        The Company uses the collected user information for purposes including
      </p>
    </div>
    <h2>3. DISCLOSURE OF COLLECTED INFORMATION</h2>
    <div>
      <p>
        The Company will not disclose the collected user information to third
        parties except in the following cases:
      </p>
      <h6>1) Legal Needs</h6>
      <p>
        <b>.</b> Where the Company is obliged to disclose it in accordance with
        applicable laws
      </p>
      <p>
        <b>.</b> Where an investigative authority requests disclosure in
        accordance with the procedures and methods prescribed by the law for
        investigation purposes
      </p>
      <h6>2) Disclosures to Company's partners and service providers</h6>
      <p>
        <b>.</b> Where the Company's partners or service providers perform
        services on behalf of the company, including but not limited to security
        authentication (Two- &nbsp;&nbsp;&nbsp;factor,2fa), identity
        verification, and dispute resolution
      </p>
      <h6>3) With user's Prior Consent</h6>
      <p>
        <b>.</b> Where a user chooses to share the user's personal information
        with a certain company to receive information on the service of the
        company Where a user &nbsp;&nbsp;&nbsp;otherwise agrees in advance.
      </p>
    </div>
    <h2>4. COOKIES, BEACONS AND SIMILAR TECHNOLOGIES</h2>
    <div>
      <p>
        The Company may collect aggregated, non-personal information through
        cookies or web beacons.
      </p>
      <p>
        A cookie is a small piece of data sent by the Company's web server to
        the user's browser and stored on the user computer's hard disk.
      </p>
      <p>
        Web beacons are small strings of code that are placed on a website or in
        an email. They allow checking that a user has interacted with specific
        web or email content. If cookie technology is not available, as in
        mobile applications, we may also use technology that performs similar
        functions to cookies (for example, advertising identifiers).
      </p>
      <p>
        These features are used to customize the user experience by evaluating
        and improving the services and to enable us to provide better services
        for our users.
      </p>
    </div>
    <h2>5. PERIOD OF PERSONAL INFORMATION RETENTION AND USAGE</h2>
    <div>
      <p>
        The Company will dispose of the user's personal information without
        delay once the Company has attained the purpose of collecting and using
        the user's personal information, once the legal or managerial necessity
        for said personal information is removed or at the user's request.
      </p>
      <p>
        Notwithstanding the above, if a related law or regulation requires the
        retention of personal information, the Company will store member
        information. Records pertaining to contracts on electronic transactions,
        payments, supply shall be stored for a specified period. The type of
        information stored, and retention period are as follows:
      </p>
      <p><b>.</b> Records of contracts and subscription withdrawals: 5 years</p>
      <p><b>.</b> Records of payments and the supply of goods, etc.: 5 years</p>
      <p>
        <b>.</b> Records of consumer complaints or dispute settlement: 3 years
      </p>
      <p>
        <b>.</b> Records of credit information collection/processing and use
        thereof: 3 years.
      </p>
    </div>
    <h2>6. PROCESS AND METHOD OF DISPOSING OF PERSONAL INFORMATION</h2>
    <div>
      <p>
        As a matter of principle, as soon as the purpose of collecting and using
        personal information is attained, the Company disposes of such
        information without delay. Notwithstanding the above, information of
        which retention is required by law or regulation, such information will
        be disposed of after it has been stored for the legally required period.
        In such cases, personal information that is separately stored and
        managed will never be used for any other purpose unless required by law
        or regulation. Paper records containing personal information are
        shredded or incinerated, and personal information stored in electronic
        files is deleted by technical means that make recovery impossible.
      </p>
    </div>
    <h2>7. USERS' RIGHTS</h2>
    <div>
      <p>
        The user or their legal representative, as a subject of personal
        information, may exercise the following rights:
      </p>
      <p><b>.</b> Correction or deletion of personal information</p>
      <p>
        <b>.</b> Temporarily suspending the processing of personal information
      </p>
      <p><b>.</b> Request for withdrawal of consent previously provided</p>
    </div>
    <h2>8. USER'S OBLIGATIONS</h2>
    <div>
      <p>
        Members have not only rights to be protected in relation to personal
        information, but also obligations to themselves protect their personal
        information and not to infringe on others' information. Please be
        careful not to leak your personal information, including your password
        nor to damage others' personal information.
      </p>
      <p>
        Responsibilities for incidents caused by incorrect information entered
        by members rest with the members themselves. Members are obliged to
        prevent incidents by entering up-to-date personal information
        accurately.
      </p>
      <p>
        If a member fails to fulfill the above responsibilities and causes
        damage to the information and dignity of another person, the member may
        be held liable in accordance with relevant laws.
      </p>
    </div>
    <h2>9. SECURITY</h2>
    <div>
      <p>
        The company is implementing security measures, including those described
        in Articles 8 and 9, to prevent unauthorized access, disclosure, use,
        and modification of users' personal information.
      </p>
    </div>
    <h2>10. PROTECTION OF PERSONAL INFORMATION OF MINORS</h2>
    <diV>
      <p>
        In principle, the Company does not allow membership registration under
        the age of 18 nor collect their information.
      </p>
    </diV>
    <h2>
      11. TECHNICAL/MANAGEMENTAL PROTECTION MEASURES FOR PERSONAL INFORMATION
    </h2>
    <div>
      <h6>• Countermeasures against Hacking</h6>
      <p>
        The Company does endeavor to prevent the leakage of or damage to
        members' personal information from hacking or computer viruses. We
        prevent members' personal information or data from being leaked or
        damaged and make it possible to securely transmit personal information
        on the network through encrypted communications. In addition, we use a
        firewall system to control unauthorized access from outside.
      </p>
      <h6>
        • Minimization and Training of Personnel Handling Personal Information
      </h6>
      <p>
        The Company's staff handling personal information is limited to
        personnel directly performing a relevant task. To this end, a separate
        password is given and updated regularly. We are always emphasizing
        compliance with relevant regulations such as the Company's Privacy
        Policy and protection measures through regular training for personnel.
      </p>
      <h6>
        • Operation of Organization Exclusively for Protection of Personal
        Information
      </h6>
      <p>
        The Company maintains an in-house organization exclusively for
        protecting personal information responsible for checking compliance of
        the Company's Privacy Policy and protection measures. If a problem is
        found by checking the observance of the personnel in charge, the Company
        does immediately take measures to rectify and contain it. However, the
        Company is not responsible for any problems caused by the leakage of
        personal information due to the negligence of the members themselves or
        for reasons other than the Company's intention or gross negligence.
      </p>
    </div>
    <h2>12. CHANGE OF PRIVACY POLICY</h2>
    <div>
      <p>
        The Company reserves the right to modify or change the Company's
        Policies at any time. The revised Company's Policies will be announced
        through notice on the Company's website (or through individual notice
        such as by email). If required by relevant law, the Company will ask for
        the user's consent.
      </p>
    </div>
    <h2>13. CONTACT INFORMATION FOR COMPANY</h2>
    <div>
      <p>
        If you have any questions about this Policy or wish to update your
        information held by the Company, please contact the Company at the
        following E-mail address:
      </p>
      <p>
         <b>.</b> Company Name: Aisys Global Pte. Ltd.
     </p>
     <p>
         <b>.</b> Email address: <a href="info@aidus.io">info@aidus.io</a>
    </p>
    <p>
          <b>.</b> Website: <a href="https://aidus.io">https://aidus.io</a>
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
