<app-nav></app-nav>
<div class="container-fluid bg0">
  <div class="d-flex justify-content-start align-iten-center">
    <div class="bgtext1">
      <span style="color: #0354A6; font-size: 32px; font-weight: 600">Earn Safe</span>
      <h1 style="font-weight: 600; font-size: 56px; margin-bottom: 20px">
        Grow the Quantity of your Crypto
      </h1>
      <span>Earn up to 24% APY on crypto, paid out <br />weely. </span>
      <div class="row" style="margin-top: 15px">
        <div class="col-md d-flex flex-column">
          <div class="d-flex">
            <img
              src="../../../assets/product/tick.png"
              style="height: 20px; width: 20px; margin-bottom: 10px"
              alt=""
            />
            <span style="margin-left: 10px; color: #003163"
              >Weekly payouts</span
            >
          </div>
          <div>
            <img
              src="../../../assets/product/tick.png"
              style="height: 20px; width: 20px; margin-bottom: 10px"
              alt=""
            />
            <span style="margin-left: 10px; color: #003163"
              >Withdraw your earnings anytime</span
            >
          </div>
          <div>
            <img
              src="../../../assets/product/tick.png"
              style="height: 20px; width: 20px"
              alt=""
            />
            <span style="margin-left: 10px; color: #003163">Zero fees</span>
          </div>
        </div>
      </div>
      <button class="btn btn0 btn-primary">Start Earning ></button>
    </div>
    <div>
      <img
        src="../../../assets/product/productimage/earnsafe.png"
        style="
          height: 465px;
          width: 559px;
          margin-top: 100px;
          margin-left: 140px;
          /* margin-bottom: 70px; */
          background-color: aliceblue;
        "
        alt=""
      />
    </div>
  </div>
</div>
<div class="bg1">
  <div class="bg0text"  style="margin-left: 255px">
    <h1 style="font-size: 32px;font-weight: 600; margin-left: 100px">
      Expecting a big crash coming soon?
    </h1>
    <span style="font-size: 20px"
      >Choose Earn safe. Freeze the price of your crypto based on the real-time
      price.
    </span>
  </div>
  <div class="card">
    <div class="bg1text">
      <h1
        style="
          margin-left: 340px;
          margin-bottom: 60px;
          font-size: 56px;
          font-weight: 600;
        "
      >
        Supported Assets & Rates
      </h1>
      <div class="card bg2">
        <div class="d-flex" style="margin-top: 40px">
          <h4 style="margin-left: 60px">Coin Name</h4>
          <h4 style="margin-left: 214px">Reward Rate(APY)</h4>
          <h4 style="margin-left: 130px">Lock Up Period</h4>
        </div>
        <div>
          <img
            src="../../../assets/product/producticon/Line 35.png"
            style="width: 1090px; margin-left: 47px; margin-bottom: 6px;margin-top: 20px;"
            alt=""
          />
          <div
            class="d-flex"
            style="align-items: center; margin-top: 20px; margin-left: 25px"
          >
            <img
              src="../../../assets/product/producticon/btc.png"
              style="height: 40px; width: 40px; margin-left: 20px"
              alt=""
            />
            <h5
              style="align-content: center; margin-top: 9px; margin-left: 24px;color: #424242;"
            >
              Bitcoin
            </h5>
            <h5
              style="align-items: center; margin-top: 9px; margin-left: 314px;color: #424242;"
            >
              8%
            </h5>
            <h5
              style="align-items: center; margin-top: 9px; margin-left: 293px;color: #424242;"
            >
              30 days
            </h5>
          </div>
          <div
            class="d-flex"
            style="align-items: center; margin-top: 30px; margin-left: 25px"
          >
            <img
              src="../../../assets/product/producticon/btc.png"
              style="height: 40px; width: 40px; margin-left: 20px"
              alt=""
            />
            <h5
              style="align-content: center; margin-top: 9px; margin-left: 24px;color: #424242;"
            >
              Bitcoin
            </h5>
            <h5
              style="align-items: center; margin-top: 9px; margin-left: 314px;color: #424242;"
            >
              10%
            </h5>
            <h5
              style="align-items: center; margin-top: 9px; margin-left: 290px;color: #424242;"
            >
              90 days
            </h5>
          </div>
          <div
            class="d-flex"
            style="align-items: center; margin-top: 30px; margin-left: 25px"
          >
            <img
              src="../../../assets/product/producticon/btc.png"
              style="height: 40px; width: 40px; margin-left: 20px"
              alt=""
            />
            <h5
              style="align-content: center; margin-top: 9px; margin-left: 24px;color: #424242;"
            >
              Bitcoin
            </h5>
            <h5
              style="align-items: center; margin-top: 9px; margin-left: 314px;color: #424242;"
            >
              18%
            </h5>
            <h5
              style="align-items: center; margin-top: 9px; margin-left: 290px;color: #424242;"
            >
              180 days
            </h5>
          </div>
          <div
            class="d-flex"
            style="align-items: center; margin-top: 30px; margin-left: 25px"
          >
            <img
              src="../../../assets/product/producticon/btc.png"
              style="height: 40px; width: 40px; margin-left: 20px"
              alt=""
            />
            <h5
              style="align-content: center; margin-top: 9px; margin-left: 24px;color: #424242;"
            >
              Bitcoin
            </h5>
            <h5
              style="align-items: center; margin-top: 9px; margin-left: 314px;color: #424242;"
            >
              24%
            </h5>
            <h5
              style="align-items: center; margin-top: 9px; margin-left: 282px;color: #424242;"
            >
              365 days
            </h5>
          </div>
          <div
            class="d-flex"
            style="align-items: center; margin-top: 30px; margin-left: 25px"
          >
            <img
              src="../../../assets/product/producticon/eth.png"
              style="height: 40px; width: 40px; margin-left: 20px"
              alt=""
            />
            <h5
              style="align-content: center; margin-top: 9px; margin-left: 24px;color: #424242;"
            >
              Ethereum
            </h5>
            <h5
              style="align-items: center; margin-top: 9px; margin-left: 284px;color: #424242;"
            >
              8%
            </h5>
            <h5
              style="align-items: center; margin-top: 9px; margin-left: 293px;color: #424242;"
            >
              30 days
            </h5>
          </div>
          <div
            class="d-flex"
            style="align-items: center; margin-top: 30px; margin-left: 25px"
          >
            <img
              src="../../../assets/product/producticon/eth.png"
              style="height: 40px; width: 40px; margin-left: 20px"
              alt=""
            />
            <h5
              style="align-content: center; margin-top: 9px; margin-left: 24px;color: #424242;"
            >
              Ethereum
            </h5>
            <h5
              style="align-items: center; margin-top: 9px; margin-left: 284px;color: #424242;"
            >
              10%
            </h5>
            <h5
              style="align-items: center; margin-top: 9px; margin-left: 290px;color: #424242;"
            >
              90 days
            </h5>
          </div>
          <div
            class="d-flex"
            style="align-items: center; margin-top: 30px; margin-left: 25px"
          >
            <img
              src="../../../assets/product/producticon/eth.png"
              style="height: 40px; width: 40px; margin-left: 20px"
              alt=""
            />
            <h5
              style="align-content: center; margin-top: 9px; margin-left: 24px;color: #424242;"
            >
              Ethereum
            </h5>
            <h5
              style="align-items: center; margin-top: 9px; margin-left: 284px;color: #424242;"
            >
              18%
            </h5>
            <h5
              style="align-items: center; margin-top: 9px; margin-left: 290px;color: #424242;"
            >
              180 days
            </h5>
          </div>
          <div
            class="d-flex"
            style="align-items: center; margin-top: 30px; margin-left: 25px; margin-bottom: 20px;"
          >
            <img
              src="../../../assets/product/producticon/eth.png"
              style="height: 40px; width: 40px; margin-left: 20px"
              alt=""
            />
            <h5
              style="align-content: center; margin-top: 9px; margin-left: 24px;color: #424242;"
            >
              Ethereum
            </h5>
            <h5
              style="align-items: center; margin-top: 9px; margin-left: 284px;color: #424242;"
            >
              24%
            </h5>
            <h5
              style="align-items: center; margin-top: 9px; margin-left: 290px;color: #424242;"
            >
              365 days
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg3">
    <div>
      <img
        src="../../../assets/product/productimage/earnsafetext.png"
        style="height: 1090px; width: 1518px"
        alt=""
      />
    </div>
  </div>
  <div class="container-fluid bg6">
    <div class="bg51">
      <span
        style="
          font-size: 56px;
          font-weight: 600;
          color: white;
          /* margin-left: 92px;
          margin-top: 60px; */
        "
        >Why Choose AIDUS?</span
      >
    </div>
    <div style="margin-left: 130px">
      <img
        src="../../../assets/product/Group 13864.png"
        style="height: 320px; width: 1200px"
        alt=""
      />
    </div>
  </div>
  <div class="container back2">
    <div class="row" style="margin-top: 2rem">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="text1">Frequently Asked Questions</h1>
        <span class="text2"
          >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor Lorem ipsum dolor sit amet consetetur sadipscing
          elitr</span
        >
      </div>
      <div class="col-md-4">
        <div class="card card0">
          <div class="card-body">
            <h6 style="margin-bottom: 2rem" [routerLink]="['/home']">General</h6>
            <h6 style="margin-bottom: 2rem" [routerLink]="['/home/product-earn']">Earn</h6>
            <h6 style="margin-bottom: 2rem" [routerLink]="['/home/product-earnsafe']">Earn Safe</h6>
            <h6 style="margin-bottom: 2rem" [routerLink]="['/home/product-earnmax']">Earn Maximum</h6>
            <h6 style="margin-bottom: 2rem" [routerLink]="['/home/token']">AIDUS Token</h6>
          </div>
        </div>
      </div>
      <div class="col-md" style="margin-bottom: 150px">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
              What are the differences between Earn, Earn Safe & Earn Maximum?
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <strong>Earn</strong> is a product which you could grow the quantity of your cryptocurrency. By subscribing Earn product, you will be distributed earnings based on the quantity of cryptocurrency.<br>

                <strong>Earn Safe</strong>is a product which your crypto will be converted to USD on the real-time price of subsciption. The converted USD value will be fixed and will not change no matter your crypto rises or decreases, earnings are distributed USDT(Tether) based on the converted USD price.<br>
                
                <strong>Earn Maximum</strong>is a performance-based product which we will share up to 50% of the profits. You could subscribe Earn Maximum through Aidus Token and receive earnings in USDT(Tether). Every two weeks a new season of Earn Maximum product is opened and once a season ends earnings are distributed.<br>
                </div>
            </div>
          </div>
          <div
            class="accordion-item"
            style="border-top: 1px solid rgba(0, 0, 0, 0.125)"
          >
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
              How does AIDUS manage my assets?
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                At AIDUS, we do not distribute the earnings from the assets of the 3rd party nor we do not have borrowers for your deposits. Instead, your digital assets are managed by our in-house professional asset management team with minimized risk trading.
              </div>
            </div>
          </div>
          <div
            class="accordion-item"
            style="border-top: 1px solid rgba(0, 0, 0, 0.125)"
          >
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
              Can I check the Investment Performance Report? And how do you ensure the transparency of the report?
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                All account performance data including deposit, withdrawal, balance, gain/loss, biweekly rate of return, cumulative rate of return is disclosed biweekly. Not only that, to increase the transparency of the report, we are working with a world-class accounting firm and law firm to conduct a cross-check of our report. 
              </div>
            </div>
          </div>
          <div
            class="accordion-item"
            style="border-top: 1px solid rgba(0, 0, 0, 0.125)"
          >
            <h2 class="accordion-header" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
              What tokens are supported on Earn Safe?
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Currently, Earn Safe supports BTC, ETH and AIDUS, with more being added soon.
              </div>
            </div>
          </div>
          <div
            class="accordion-item"
            style="border-top: 1px solid rgba(0, 0, 0, 0.125)"
          >
            <h2 class="accordion-header" id="headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
              Can I withdraw my deposits before its ending date?
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                A premature withdrawal during the lock-up period is not available. 
              </div>
            </div>
          </div>

          <div
          class="accordion-item"
          style="border-top: 1px solid rgba(0, 0, 0, 0.125)"
        >
          <h2 class="accordion-header" id="headingSix">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSix"
              aria-expanded="false"
              aria-controls="collapseSix"
            >
            How much does AIDUS charge?
            </button>
          </h2>
          <div
            id="collapseSix"
            class="accordion-collapse collapse"
            aria-labelledby="headingSix"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              Zero. We do not charge any fee including gas fee, transfer fee, withdrawal fee, hadling fee and performance fee. 
            </div>
          </div>
        </div>
        <div
        class="accordion-item"
        style="border-top: 1px solid rgba(0, 0, 0, 0.125)"
      >
        <h2 class="accordion-header" id="headingFive">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSeven"
            aria-expanded="false"
            aria-controls="collapseSeven"
          >
          Do you guarantee the principal?
          </button>
        </h2>
        <div
          id="collapseSeven"
          class="accordion-collapse collapse"
          aria-labelledby="headingSeven"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            We do not guarantee the principal and return on your investment.     </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>



