<div class="container-fluid bg" *ngIf="this.referData==false">
  <div class="container1 d-flex" style="justify-content: space-between">
    <div class="text">
      <h1>Invite Friends and Earn Crypto <br />Together</h1>
      <p>
        Share your referral code with friends and family to use at signup.
        You’ll each earn<br />
        $50 in Tether when your referred user subscribes a staking product of
        $400 or more<br />
        for more than 30 days.
      </p>
      <div class="d-flex">
        <div>
          <span
            style="
              font-weight: 700;
              width: 243px;
              font-size: 24px;
              height: 62px;
              color: #0354a6;
            "
            >50 USDT</span
          ><br />
          <p>You Receive:</p>
        </div>
        <div style="margin-left: 8rem">
          <span
            style="
              font-weight: 700;
              width: 243px;
              font-size: 24px;
              height: 62px;
              color: #0354a6;
            "
            >50 USDT</span
          ><br />
          <p>Friends Receive:</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div >
        <div class="card-body">
          <p style="font-weight: 500">
            Use your unique link to invite your friends and family over message
            or email.
          </p>
          <h6 style="color: #0354a6">Referral code</h6>
          <div class="d-flex" style="margin-bottom: 12px">
            <input
              type="text"
              readonly
              #formInputText
              [(ngModel)]="this.referData1.referCode"
              class="form-control"
              id="inputPassword2"
              placeholder="AIDUSUSER1"
            />
            <button type="submit" class="btn btn-primary button"  (click)="copyText()">
             
                <img
                  src="../../../assets/Landing page AIDUS/Copy button.png"
                  alt=""
                  style="height: 35px; width: 40px;"
                />
            </button>
            <p *ngIf="this.message==true" style="color: #0354a6; margin-top: 10px;margin-left: 6px;">
              Copied
           </p>
          </div>
         
          <h6 style="color: #0354a6">Referral Link</h6>
          <div class="d-flex">
            <input
              type="text"
              readonly
              class="form-control"
              [(ngModel)]="this.signUuLink1"
              id="inputPassword2"
              placeholder="https://samplelink.com"
            />
            <button type="submit" class="btn btn-primary button"  (click)="copyText1()">
             
              <img
                src="../../../assets/Landing page AIDUS/Copy button.png"
                alt=""
                style="height: 35px; width: 40px;"
              />
            </button>
            <p *ngIf="this.message1==true" style="color: #0354a6; margin-top: 10px;margin-left: 6px;">
              Copied
           </p>
          </div>
         
        </div>
      
      </div>
    </div>
  </div>
</div>
<div class="container bg2" *ngIf="this.referData==false">
  <h3>Your Referral Account</h3>
  <div class="d-flex container3" style="justify-content: space-between">
    <div>
      <p>Total Successful Referrals</p>
      <br />
      <span style="width: 234px; font-weight: 700; font-size: 24px">{{this.referData1.totalReferrals}}</span>
    </div>
    <!-- <div>
      <p>Earned Till Date</p>
      <br />
      <span style="width: 234px; font-weight: 700; font-size: 24px"
        >478.56 USDT</span
      >
    </div> -->
    <div>
      <p>Updated Bonus Balance</p>
      <br />
      <span style="width: 234px; font-weight: 700; font-size: 24px"
        >{{referData1.totalReceived}}</span
      >
    </div>
  </div>
</div>
<div class="container bg1" *ngIf="this.referData==false">
  <h2>Referred List</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Referred to</th>
        <th scope="col">Bonus Earned</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of referDataList">
        <th scope="row">{{obj?.date}}</th>
        <td>{{obj?.referEmail}}</td>
        <td>{{obj?.bonusEarned}}</td>
      </tr>
     
    </tbody>
  </table>
</div>




<!-- AS a abbessdor -->

<div class="container-fluid bg" *ngIf="this.referData==true">
  <div class="container1 d-flex" style="justify-content: space-between">
    <div class="text">
      <h1>Invite Friends and Earn Crypto <br />Together</h1>
      <p>
        Share your referral code with friends and family to use at signup.
        You’ll each earn<br />
        $50 in Tether when your referred user subscribes a staking product of
        $400 or more<br />
        for more than 30 days.
      </p>
      <div class="d-flex">
        <div>
          <span
            style="
              font-weight: 700;
              width: 243px;
              font-size: 24px;
              height: 62px;
              color: #0354a6;
            "
            >50 USDT</span
          ><br />
          <p>You Receive:</p>
        </div>
        <div style="margin-left: 8rem">
          <span
            style="
              font-weight: 700;
              width: 243px;
              font-size: 24px;
              height: 62px;
              color: #0354a6;
            "
            >50 USDT</span
          ><br />
          <p>Friends Receive:</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div >
        <div class="card-body">
          <p style="font-weight: 500; margin-bottom: 20px;">
            Use your unique link to invite your friends and family over message
            or email.
          </p>
          <h6 style="color: #0354a6">Referral code</h6>
          <div class="d-flex" style="margin-bottom: 25px">
            <input
              type="text"
              readonly
              #formInputText
              [(ngModel)]="this.referData1.referCode"
              class="form-control"
              id="inputPassword2"
              placeholder="AIDUSUSER1"
            />
            <button type="submit" class="btn btn-primary button"  (click)="copyText()">
             
                <img
                  src="../../../assets/Landing page AIDUS/Copy button.png"
                  alt=""
                  style="height: 35px; width: 40px;"
                />
            </button>
            <p *ngIf="this.message==true" style="color: #0354a6; margin-top: 10px;margin-left: 6px;">
              Copied
           </p>
          </div>
         
          <h6 style="color: #0354a6">Referral Link</h6>
          <div class="d-flex">
            <input
              type="text"
              readonly
              class="form-control"
              [(ngModel)]="this.signUuLink1"
              id="inputPassword2"
              placeholder="https://samplelink.com"
            />
            <button type="submit" class="btn btn-primary button"  (click)="copyText1()">
             
              <img
                src="../../../assets/Landing page AIDUS/Copy button.png"
                alt=""
                style="height: 35px; width: 40px;"
              />
            </button>
            <p *ngIf="this.message1==true" style="color: #0354a6; margin-top: 10px;margin-left: 6px;">
              Copied
           </p>
          </div>
         
        </div>
      
      </div>
    </div>
  </div>
</div>
<div class="container bg2" *ngIf="this.referData==true">
  <h3>Your Referral Account</h3>
  <div class="d-flex container3" style="justify-content: space-between">
    <div>
      <p>Total Successful Referrals</p>
      <br />
      <span style="width: 234px; font-weight: 700; font-size: 24px">{{this.referData1.totalReferrals}}</span>
    </div>
    <!-- <div>
      <p>Earned Till Date</p>
      <br />
      <span style="width: 234px; font-weight: 700; font-size: 24px"
        >478.56 USDT</span
      >
    </div> -->
    <div>
      <p>Updated Bonus Balance</p>
      <br />
      <span style="width: 234px; font-weight: 700; font-size: 24px"
        >{{referData1.totalReceived}}</span
      >
    </div>
  </div>
</div>
<div class="container bg1" *ngIf="this.referData==true">
  <h3 style="font-weight: 600;">Transaction History</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col" style="width: 122px;">Time</th>
        <th scope="col" style="width: 345px;">User ID</th>
        <th scope="col"  style="width: 200px;">Transaction Type</th>

        <th scope="col"  style="width: 236px;">Total Locked Amount</th>
        <th scope="col" style="width: 270px;">Total Commission Earned</th>
        <th scope="col" style="width: 200px;">Commission Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of user4| paginate: {itemsPerPage: this.filterObj.limit, currentPage: this.filterObj.p,totalItems: copyArr };">
        <td>{{ obj.date | date: "dd/MM/YYYY" }}</td>
        <td> {{ obj.time.substring(0,8)}}</td>
        <td>{{ obj.userEmail }}</td>
        <td>{{ obj.transactionType }} </td>
        <td >{{ obj.totalLockedAmt }}</td>
        <td>{{ obj.amountEarn }}</td>
        <td>{{ obj.commissionRate }} %</td>
      </tr>
     
    </tbody>
  </table>
  <pagination-controls
  (pageChange)="pageChangeEvent4($event)"
></pagination-controls>
</div>

