.bg0 {
  background: aliceblue;
  /* box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.1); */
  /* border-radius: 6px; */
  /* padding: 16px; */
  height: 630px;
  padding: 0px;
  margin-top: -15px;
  background-image: url("../../../assets/Background.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.back1 {
  background-color: aliceblue;
  /* box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.1); */
  height: 750px;
}
.bgtext1 {
  /* padding: 10px; */
  /* background: aliceblue; */
  width: 519px;
  margin-left: 140px;
  margin-top: 90px;
}
.bg9 {
  margin-bottom: 70px;
  background-color: aliceblue;
  height: 100%;
}
.btn0 {
  width: 206px;
  background-color: #0354a6;
  margin-top: 30px;
  height: 56px;
}
.bg1 {
  background: aliceblue;
  box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.1);
}
.bg1text {
  padding: 70px;
  padding-top: 140px;
  margin-bottom: 100px !important;
}
.bg2 {
  background: #f5faff;
  border-width: 0px 4px 4px 0px;
  border-style: solid;
  border-color: #0354a6;
  box-shadow: 0px 6.48185px 4.86139px rgba(16, 24, 40, 0.1);
  border-radius: 24px;
  height: 100%px;
  width: 1216px;
  margin-left: 60px;
}
.box2 {
  margin-top: 50px;
  background: aliceblue;
}
.bg3 {
  margin-top: 100px;
}
.bg4 {
  margin-left: 10px;
  margin-top: 68px;
}
.form-control {
  width: 400px;
  height: 56px;
  background-color: aliceblue;
  border-color: #0354a6;
}
.btn2 {
  width: 120px;
  background-color: #0354a6;
  margin-left: 9px;
  height: 56px;
}
.bg5 {
  margin-top: 70px;
  margin-bottom: 130px;
}
.bg6 {
  background-color: #f5faff;
  height: 700px;
  width: 100%;
}
.bg51 {
  padding: 80px;
  padding-left: 450px;
}
.bg {
  background: #ffffff;
  box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 16px;
  /* height: 800px; */
  padding: 0px;
  /* margin-top: 220px; */
}
.text1 {
  margin-top: 140px;
  font-size: 56px;
  font-weight: 600;
}
.text {
  font-size: 18px;
  font-weight: 500;
}
.card0 {
  padding: 13px;
  margin-left: 110px;
  width: 240px;
  border-color: rgb(211, 231, 245);
}
.card1 {
  width: 920px;
  margin-left: -46px;
  border-color: rgb(167, 200, 230);
  border-radius: 10px;
  margin-bottom: 2rem;
}
.text2 {
  width: 47%;
  text-align: center;
  margin-top: 10px;
}
.accordion-button::after {
  background-image: url("../../../assets/plus.png");
  margin-bottom: 2rem;
  align-items: center;
}
.accordion-item {
  margin-bottom: 1rem;
  border-radius: 9px;
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  margin-top: 20px;
  
}
