<div class="container-fluid bg">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="text1">AIDUS in the Press</h1>
  </div>
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-3">

        <div class="d-flex flex-column field1">
         
          <img
          src="../../../assets/AIDUS.png"
          class="newsImage"
           
            alt=""
          />
          <img
          src="../../../assets/AIDUS.png"
          class="newsImage"
            alt=""
          />
          <img
          src="../../../assets/AIDUS.png"
          class="newsImage"
            alt=""
          />
          <img
          src="../../../assets/AIDUS.png"
          class="newsImage"
            alt=""
          />
          <img
          src="../../../assets/AIDUS.png"
          class="newsImage"
            alt=""
          />
          <img
          src="../../../assets/AIDUS.png"
          class="newsImage"
          alt=""
        />
        <img
        src="../../../assets/AIDUS.png"
        class="newsImage"
          alt=""
        />
        <img
        src="../../../assets/AIDUS.png"
        class="newsImage"
          alt=""
        />
        </div>
      </div> -->
      <div class="col-md-3 d-flex align-items-center">
        <img
          src="../../../assets/AIDUS.png"
          class="newsImage"
           
            alt=""
          />
      </div>
      <div class="col-md">
        <a href="http://game.mk.co.kr/view.php?year=2020&no=193053" target="_blank" rel="noopener noreferrer" class="link"> 
          <div class="field">
            <div class="d-flex text2">
              <h3>IThePay service opened on the 24th… 24% annual interest paid daily.</h3>
              <img
                src="../../../assets/errow.png"
                class="img1"
                alt=""
              />
            </div>
            <span class="text3">Im Young-taek| 25 Feb 2020</span>
          </div>
        </a>

      </div>
      <!-- <div class="col-md">
        <a href="http://game.mk.co.kr/view.php?year=2020&no=193053" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color:black"> 
        <div class="field">
          <div class="d-flex text2">
            <h3>IThePay service opened on the 24th… 24% annual interest paid daily.</h3>
            <img
              src="../../../assets/errow.png"
              class="img1"
              style="height: 29.93px; width: 17.4px"
              alt=""
            />
          </div>
          <span class="text3">Im Young-taek| 25 Feb 2020</span>
        </div>
      </a>
      <a href="http://game.mk.co.kr/view.php?year=2019&no=566474" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color:black"> 
        <div class="field">
          <div class="d-flex text2">
            <h3>Aidus Pay pre-registration event 1st and 2nd early sold out.</h3>
            <img
              src="../../../assets/errow.png"
              class="img1"
              style="height: 29.93px; width: 17.4px"
              alt=""
            />
          </div>
          <span class="text3">Ahn Hee-chan | 25 Jul 2019</span>
        </div>
        </a>
        <a href="http://game.mk.co.kr/view.php?year=2019&no=456971" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color:black"> 
        <div class="field">
          <div class="d-flex text2">
            <h3>Isis Global 'Aidus Pay' unveiled... Presenting a New Paradigm in the Financial Industry.</h3>
            <img
              src="../../../assets/errow.png"
              class="img1"
              style="height: 29.93px; width: 17.4px"
              alt=""
            />
          </div>
          <span class="text3">Ahn Hee-chan | 26 Jun 2019</span>
        </div>
        </a>
        <a href="http://game.mk.co.kr/view.php?year=2019&no=520848" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color:black"> 
        <div class="field">
          <div class="d-flex text2">
            <h3>Ted Min Founder: “I will create a wind of innovation in the financial industry”.</h3>
            <img
              src="../../../assets/errow.png"
              class="img1"
              style="height: 29.93px; width: 17.4px"
              alt=""
            />
          </div>
          <span class="text3">Ahn Hee-chan | 15 Jul 2019</span>
        </div>
        </a>
        <a href="http://game.mk.co.kr/view.php?year=2019&no=132542" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color:black"> 
        <div class="field">
          <div class="d-flex text2">
            <h3>The Aidus Project draws attention from US investors... February 5th Investment briefing in New York.</h3>
            <img
              src="../../../assets/errow.png"
              class="img1"
              style="height: 29.93px; width: 17.4px"
              alt=""
            />
          </div>
          <span class="text3">Ahn Hee-chan | 05 Mar 2019</span>
        </div>
        </a>
        <a href="http://game.mk.co.kr/view.php?year=2019&no=145654" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color:black"> 
          <div class="field">
            <div class="d-flex text2">
              <h3>Isis Global, QTS Forex Transaction Yield 74.06% for 3 Years and 6 Months.</h3>
              <img
                src="../../../assets/errow.png"
                class="img1"
                style="height: 29.93px; width: 17.4px"
                alt=""
              />
            </div>
            <span class="text3">Ahn Hee-chan | 11 Mar 2019</span>
          </div>
          </a>
          <a href="http://www.kbanker.co.kr/news/articleView.html?idxno=83937" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color:black"> 
          <div class="field">
            <div class="d-flex text2">
              <h3>Financial Paradigm Shift Isis Global… Unveiled 'Aidus Pay', which can be subscribed worldwide.</h3>
              <img
                src="../../../assets/errow.png"
                class="img1"
                style="height: 29.93px; width: 17.4px"
                alt=""
              />
            </div>
            <span class="text3">Daehan Financial Online Team | 26 Jun 2019</span>
          </div>
          </a>
          <a href="https://www.louisiananewsupdates.com/news/story/151563/aidus-coin
          -successfully-raises-investment-from-coinbene-the-worlds-leading-e
          xchange.html" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color:black"> 
            <div class="field">
              <div class="d-flex text2">
                <h3>AIDUS Coin, Successfully Raises Investment from CoinBene, the World’s Leading Exchange.</h3>
                <img
                  src="../../../assets/errow.png"
                  class="img1"
                  style="height: 29.93px; width: 17.4px"
                  alt=""
                />
              </div>
              <span class="text3">AISYS GLOBAL PTE.LTD | 10 Dec 2018</span>
            </div>
            </a>
        
      </div> -->
    </div>


    <div class="row">
     
      <div class="col-md-3 d-flex align-items-center">
        <img
          src="../../../assets/AIDUS.png"
          class="newsImage"
           
            alt=""
          />
      </div>
      <div class="col-md">
        <a href="http://game.mk.co.kr/view.php?year=2019&no=566474" target="_blank" rel="noopener noreferrer" class="link"> 
          <div class="field">
            <div class="d-flex text2">
              <h3>Aidus Pay pre-registration event 1st and 2nd early sold out.</h3>
              <img
                src="../../../assets/errow.png"
                class="img1"
              
                alt=""
              />
            </div>
            <span class="text3">Ahn Hee-chan | 25 Jul 2019</span>
          </div>
          </a>

      </div>
     
    </div>


    <div class="row">
     
      <div class="col-md-3 d-flex align-items-center">
        <img
          src="../../../assets/AIDUS.png"
          class="newsImage"
           
            alt=""
          />
      </div>
      <div class="col-md">
        <a href="http://game.mk.co.kr/view.php?year=2019&no=456971" target="_blank" rel="noopener noreferrer" class="link"> 
          <div class="field">
            <div class="d-flex text2">
              <h3>Isis Global 'Aidus Pay' unveiled... Presenting a New Paradigm in the Financial Industry.</h3>
              <img
                src="../../../assets/errow.png"
                class="img1"
               
                alt=""
              />
            </div>
            <span class="text3">Ahn Hee-chan | 26 Jun 2019</span>
          </div>
          </a>

      </div>
     
    </div>

    <div class="row">
     
      <div class="col-md-3 d-flex align-items-center">
        <img
          src="../../../assets/AIDUS.png"
          class="newsImage"
           
            alt=""
          />
      </div>
      <div class="col-md">
        <a href="http://game.mk.co.kr/view.php?year=2019&no=520848" target="_blank" rel="noopener noreferrer" class="link"> 
          <div class="field">
            <div class="d-flex text2">
              <h3>Ted Min Founder: “I will create a wind of innovation in the financial industry”.</h3>
              <img
                src="../../../assets/errow.png"
                class="img1"
                alt=""
              />
            </div>
            <span class="text3">Ahn Hee-chan | 15 Jul 2019</span>
          </div>
          </a>

      </div>
      
    </div>

    <div class="row">
     
      <div class="col-md-3 d-flex align-items-center">
        <img
          src="../../../assets/AIDUS.png"
          class="newsImage"
           
            alt=""
          />
      </div>
      <div class="col-md">
        <a href="http://game.mk.co.kr/view.php?year=2019&no=132542" target="_blank" rel="noopener noreferrer" class="link"> 
          <div class="field">
            <div class="d-flex text2">
              <h3>The Aidus Project draws attention from US investors... February 5th Investment briefing in New York.</h3>
              <img
                src="../../../assets/errow.png"
                class="img1"
             
                alt=""
              />
            </div>
            <span class="text3">Ahn Hee-chan | 05 Mar 2019</span>
          </div>
          </a>

      </div>
    
    </div>
    <div class="row">
     
      <div class="col-md-3 d-flex align-items-center">
        <img
          src="../../../assets/AIDUS.png"
          class="newsImage"
           
            alt=""
          />
      </div>
      <div class="col-md">
        <a href="http://game.mk.co.kr/view.php?year=2019&no=145654" target="_blank" rel="noopener noreferrer" class="link"> 
          <div class="field">
            <div class="d-flex text2">
              <h3>Isis Global, QTS Forex Transaction Yield 74.06% for 3 Years and 6 Months.</h3>
              <img
                src="../../../assets/errow.png"
                class="img1"
               
                alt=""
              />
            </div>
            <span class="text3">Ahn Hee-chan | 11 Mar 2019</span>
          </div>
          </a>

      </div>
   
    </div>

    <div class="row">
     
      <div class="col-md-3 d-flex align-items-center">
        <img
          src="../../../assets/AIDUS.png"
          class="newsImage"
           
            alt=""
          />
      </div>
      <div class="col-md">
        <a href="http://www.kbanker.co.kr/news/articleView.html?idxno=83937" target="_blank" rel="noopener noreferrer" class="link"> 
          <div class="field">
            <div class="d-flex text2">
              <h3>Financial Paradigm Shift Isis Global… Unveiled 'Aidus Pay', which can be subscribed worldwide.</h3>
              <img
                src="../../../assets/errow.png"
                class="img1"
               
                alt=""
              />
            </div>
            <span class="text3">Daehan Financial Online Team | 26 Jun 2019</span>
          </div>
          </a>

      </div>
    </div>

    <div class="row">
     
      <div class="col-md-3 d-flex align-items-center">
        <img
          src="../../../assets/AIDUS.png"
          class="newsImage"
           
            alt=""
          />
      </div>
      <div class="col-md">
        <a href="https://www.louisiananewsupdates.com/news/story/151563/aidus-coin
        -successfully-raises-investment-from-coinbene-the-worlds-leading-e
        xchange.html" target="_blank" rel="noopener noreferrer" class="link"> 
          <div class="field">
            <div class="d-flex text2">
              <h3>AIDUS Coin, Successfully Raises Investment from CoinBene, the World’s Leading Exchange.</h3>
              <img
                src="../../../assets/errow.png"
                class="img1"
               
                alt=""
              />
            </div>
            <span class="text3">AISYS GLOBAL PTE.LTD | 10 Dec 2018</span>
          </div>
          </a>

      </div>
      
    </div>
  </div>
</div>
