<ul
  class="navbar navbar-expand"
  style="background: #fff; height: 80px; border-bottom: solid 3px #fcf7f7"
>
  <div class="container-fluid d-flex flex-row align-items-center">
    <a class="btn navbar-brand" style="margin-left: 73px" (click)="onHome()"
      ><img
        src="../../assets/AIDUS login signup/Black-BG-1 (Traced).png"
        width="120"
        height="36"
    /></a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="productsDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Products
        </a>
        <ul class="dropdown-menu" aria-labelledby="productsDropdown">
          <div class="d-flex flex-row">
            <li>
              <a
                class="dropdown-item"
                style="border-right: 1px solid rgb(138, 138, 244); height: 100%"
                [routerLink]="['/home/product-earn']"
                ><div class="d-flex align-items-center">
                  <h5 style="margin-bottom: 25px; margin-left: 10px">Earn</h5>
                  <img
                    src="../../../assets/dropdown.png"
                    style="
                      height: 14px;
                      width: 12px;
                      margin-left: 90px;
                      margin-bottom: 29px;
                    "
                    alt=""
                  />
                </div>
                <p
                  style="
                    margin-bottom: 55px;
                    margin-left: 10px;
                    font-size: 15px;
                  "
                >
                  Grow your Crypto.<br />
                  Earn up to 24% APR!
                </p>
                <div class="bg2">
                  <span style="font-size: 14px; padding: 10px"
                    >Fixed Yield Rate</span
                  >
                </div></a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                style="border-right: 1px solid rgb(138, 138, 244); height: 100%"
                [routerLink]="['/home/product-earnsafe']"
                ><div class="d-flex align-items-center">
                  <h5 style="margin-bottom: 25px; margin-left: 10px">
                    Earn Safe
                  </h5>
                  <img
                    src="../../../assets/dropdown.png"
                    style="
                      height: 14px;
                      width: 12px;
                      margin-left: 90px;
                      margin-bottom: 29px;
                    "
                    alt=""
                  />
                </div>
                <p
                  style="
                    margin-bottom: 55px;
                    margin-left: 10px;
                    font-size: 15px;
                  "
                >
                  Grow your Assets. <br />Earn up to 24% APR!
                </p>
                <div class="bg2">
                  <span style="font-size: 14px; padding: 10px"
                    >Fixed Yield Rate</span
                  >
                </div></a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                style="border-right: 1px solid rgb(138, 138, 244); height: 100%"
                [routerLink]="['/home/product-earnmax']"
                ><div class="d-flex align-items-center">
                  <h5 style="margin-bottom: 25px; margin-left: 10px">
                    Earn Maximum
                  </h5>
                  <img
                    src="../../../assets/dropdown.png"
                    style="
                      height: 14px;
                      width: 12px;
                      margin-left: 90px;
                      margin-bottom: 29px;
                    "
                    alt=""
                  />
                </div>
                <p
                  style="
                    margin-bottom: 20px;
                    margin-left: 10px;
                    font-size: 15px;
                  "
                >
                  Maximize your Assets.<br />
                  Receive a portion of the <br />
                  company’s profits!
                </p>
                <div class="bg3">
                  <span style="font-size: 14px; padding: 10px"
                    >Performance Based Yield Rate</span
                  >
                </div>
                <div class="bg3">
                  <span style="font-size: 14px; padding: 10px"
                    >Exclusive for AIDUS Token
                  </span>
                </div>
              </a>
            </li>
          </div>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="transparencyDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Transparency
        </a>
        <ul class="dropdown-menu" aria-labelledby="transparencyDropdown">
          <!-- <li><a class="dropdown-item" href="#"></a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          <div class="d-flex flex-row">
            <li>
              <a
                class="dropdown-item"
                style="border-right: 1px solid rgb(138, 138, 244); height: 100%"
                [routerLink]="['/home/transparency-auditreport']"
                ><div class="d-flex align-items-center">
                  <h5
                    style="
                      margin-bottom: 25px;
                      margin-left: 10px;
                      font-size: 24px;
                      font-weight: 600;
                    "
                  >
                    Bi-weekly Performance <br />Audit Report
                  </h5>
                  <img
                    src="../../../assets/dropdown.png"
                    style="
                      height: 14px;
                      width: 12px;
                      margin-left: 90px;
                      margin-bottom: 29px;
                    "
                    alt=""
                  />
                </div>
                <p style="margin-bottom: 35px; margin-left: 10px">
                  Nisi eget suspendisse aliquet.
                </p>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                style="height: 100%; margin-right: 60px"
                href="#"
                style="height: 100%; margin-right: 60px"
                [routerLink]="['/home/transparency-security']"
                ><div class="d-flex align-items-center">
                  <h5
                    style="
                      margin-bottom: 45px;
                      margin-left: 10px;
                      font-size: 24px;
                      font-weight: 600;
                    "
                  >
                    Security
                  </h5>
                  <img
                    src="../../../assets/dropdown.png"
                    style="
                      height: 14px;
                      width: 12px;
                      margin-left: 90px;
                      margin-bottom: 29px;
                    "
                    alt=""
                  />
                </div>
                <p style="margin-bottom: 35px; margin-left: 10px">
                  Nisi eget suspendisse aliquet.
                </p>
              </a>
            </li>
          </div>
        </ul>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/home/token']" class="nav-link">Token</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="aboutUsDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          About Us
        </a>
        <ul class="dropdown-menu" aria-labelledby="aboutUsDropdown">
          <div class="d-flex flex-row">
            <li>
              <a
                class="dropdown-item"
                style="
                  border-right: 1px solid rgb(138, 138, 244);
                  height: 100%;
                  margin-right: 60px;
                "
               
                style="
                  border-right: 1px solid rgb(138, 138, 244);
                  height: 100%;
                  margin-right: 60px;
                "
                [routerLink]="['/home/about-us-company']"
                ><div class="d-flex align-items-center">
                  <h5
                    style="
                      margin-bottom: 45px;
                      margin-left: 10px;
                      font-size: 24px;
                      font-weight: 600;
                    "
                  >
                    Company
                  </h5>
                  <img
                    src="../../../assets/dropdown.png"
                    style="
                      height: 14px;
                      width: 12px;
                      margin-left: 90px;
                      margin-bottom: 45px;
                    "
                    alt=""
                  />
                </div>
                <p style="margin-bottom: 35px; margin-left: 10px">
                  Nisi eget suspendisse aliquet.
                </p>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                style="height: 100%; margin-right: 60px"
                href="#"
                style="height: 100%; margin-right: 60px"
                [routerLink]="['/home/about-us-ambassador']"
                ><div class="d-flex align-items-center">
                  <h5
                    style="
                      margin-bottom: 45px;
                      margin-left: 10px;
                      font-size: 24px;
                      font-weight: 600;
                    "
                  >
                    Ambassadors
                  </h5>
                  <img
                    src="../../../assets/dropdown.png"
                    style="
                      height: 14px;
                      width: 12px;
                      margin-left: 90px;
                      margin-bottom: 45px;
                    "
                    alt=""
                  />
                </div>
                <p style="margin-bottom: 35px; margin-left: 10px">
                  Nisi eget suspendisse aliquet.
                </p>
              </a>
            </li>
          </div>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav d-flex flex-row align-items-center me-5">
      <li class="nav-item me-4">
        <a
          
          class="d-flex flex-row align-items-center"
          style="color: #585858; text-decoration: none"
        >
          <img
            type="image/png"
            style="width: 19.5px; height: 21.5px; margin-right: 5px"
            src="../../assets/AIDUS login signup/Hicon/Outline/Website.png"
          />
          EN
        </a>
      </li>
      <li class="nav-item me-4">
        <a
          class="btn d-flex flex-row align-items-center"
          style="color: #0354a6; text-decoration: none"
          (click)="onLogin()"
        >
          Login
          <img
            type="image/png"
            style="width: 19.5px; height: 21.5px; margin-left: 5px"
            src="../../assets/AIDUS login signup/Hicon/Outline/Lock 3.png"
          />
        </a>
      </li>
      <li class="nav-item me-4">
        <button
          class="btn"
          style="
            border: none;
            color: white;
            background: #0354a6;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
          "
          type="button"
          (click)="onNewAccount()"
        >
          Create Account
        </button>
      </li>
    </ul>
  </div>
</ul>
