<div class="container bg">
  <div>
    <h4>Earn Maximum</h4>
    <p>Grow the quantity of your crypto.</p>
  </div>
  <div style="width: 60%">
    <div style="display: flex; margin-top: 2rem">
      <span style="margin-top: 1rem"><h6>Coin</h6></span>
      <form>
        <div style="display:flex">
      <div class="form-group me-3" [formGroup]="userAdd" style="width: 40%">
        <input
          id="coin"
          type="number"
          class="form-control border-0"
          formControlName="coin"
          [(ngModel)]="chkAcceptTerms"
          placeholder="Please Enter Amount"
          
        />
       
        <div *ngIf="this.earnData?.coins?.coin?.toUpperCase() =='ETH'" style="text-align:center; height: 55px; width: 20%;" class="amt-div">
         
          
         <span class="amt-span"> <img src="../../../assets/Landing page AIDUS/eth- Section 3.png" height="20px" width="20px" class="amt-img"/></span>
       
          <span class="amt-span">{{earnData?.coins?.coin?.toUpperCase()}}</span>
        </div>
        <div *ngIf="this.earnData?.coins?.coin?.toUpperCase() =='AIDUS'" style="text-align:center; height: 55px; width: 20%;" class="amt-div">
         
          
          <span class="amt-span"> <img src="../../../assets/Landing page AIDUS/AIDUS Section 3.png" height="20px" width="20px" class="amt-img"/></span>
        
           <span class="amt-span">{{earnData?.coins?.coin?.toUpperCase()}}</span>
         </div>
         <div *ngIf="this.earnData.coins?.coin?.toUpperCase() =='USDT'" style="text-align:center; height: 55px; width: 20%;" class="amt-div">
         
          
          <span class="amt-span"> <img src="../../../assets/Landing page AIDUS/USDT Section 3.png" height="20px" width="20px" class="amt-img"/></span>
        
           <span class="amt-span">{{earnData?.coins?.coin?.toUpperCase()}}</span>
         </div>
         <div *ngIf="this.earnData.coins?.coin?.toUpperCase() =='BTC'" style="text-align:center; height: 55px; width: 20%;" class="amt-div">
         
          
          <span class="amt-span"> <img src="../../../assets/Landing page AIDUS/btc Section 3.png" height="20px" width="20px" class="amt-img"/></span>
        
           <span class="amt-span">{{earnData?.coins?.coin?.toUpperCase()}}</span>
         </div>
      
      </div>
      <div style="display: flex; justify-content: space-between">
        <div class="mx-3">
          <h6
          >Minimum </h6>
          {{earnData?.minLimit}} {{earnData?.coins?.coin}}
         

        </div>
        <div class="mx-3">
          <h6>Maximum  </h6> <p>{{earnData?.maxLimit}} {{earnData?.coins?.coin}}</p>
        </div>
      </div>
    </div>
      <br>
      <div  *ngIf="this.amount.amount < this.earnData.minLimit"><p style="color: red; margin-left: 187px;"> {{earnData?.minLimit}} {{earnData?.coins?.coin}} is the minimum amount that can be staked</p></div>
      <div  *ngIf="this.amount.amount > this.earnData.maxLimit"><p style="color: red; margin-left: 187px;">{{earnData?.maxLimit}} {{earnData?.coins?.coin}} is the maximum amount that can be staked</p></div>
    </form>
    </div>

    <div
      style="display: flex; justify-content: space-between; margin-top: 2rem"
    >
      <h6>Staking Period</h6>
      <div style="width: 72%">
   
        <span class="badge text-bg-primary  percent1 "> {{earnData?.stakingPeriod}} Days</span>
        <div style="margin-top: 17px">
          <div style="display: flex; justify-content: space-between">
            <div>
              <h4>Available Balance:</h4>{{earnData?.availableBalance}}
            </div>
            <div style="margin-right: 60px">
              <h4
                >USD Equivalent:</h4>
                {{earnData?.usdConversion|number}}
            </div>
          </div>
          <!-- <div style="display: flex; justify-content: space-between">
            <div>
              <h4>Maximum Balance: </h4>{{earnData?.maxLimit}} {{earnData?.coins?.coin}}

            </div>
            <div style="margin-right: 35px">
              <h4
                >Minimum Balance:</h4>
                {{earnData?.minLimit}} {{earnData?.coins?.coin}}
            </div>
          </div> -->
          <div style="display: flex; justify-content: space-between">
            <div>
              <h4>Fixed Interest Rate: </h4>{{earnData?.apr}}% APR
            </div>
           
          </div>
          <!-- <div style="margin-top: 15px">
            
          </div> -->
        </div>
        <button type="button" class="btn stake"  [disabled]="!chkAcceptTerms" (click)="earnMaxSummary(earnData.id)">Stake Now</button>
      </div>
    </div>
  </div>
</div>

<div class="container bg mt-3">
  <div
    class="tabel-heading"
    style="display: flex; justify-content: space-between"
  >
    <h4>Locked Staking</h4>
    <div style="display: flex">
      <div class="dropdown" style="margin-right: 2rem">
        <h6>coin</h6>
        <button
          class="dropdown-toggle removeoutline"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          All
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Eth</a></li>
          <li><a class="dropdown-item" href="#">BTC</a></li>
          <li><a class="dropdown-item" href="#">USDT</a></li>
          <li><a class="dropdown-item" href="#">Aidus</a></li>
        </ul>
      </div>
      <div class="dropdown" style="margin-right: 2rem">
        <h6>locking Period</h6>
        <button
          class="dropdown-toggle removeoutline"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Days
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">90 Days</a></li>
          <li><a class="dropdown-item" href="#">120 Days</a></li>
          <li><a class="dropdown-item" href="#">180 Days</a></li>
          <li><a class="dropdown-item" href="#">365 Days</a></li>
        </ul>
      </div>

      <div class="date" style="margin-right: 2rem">
        <h6>Date</h6>
        <input type="date" class="removeoutline" />
        <input type="date" class="removeoutline" />
      </div>

      <button
      type="button"
      class="btn1 btn-outline-primary mt-2"
      style="width: 102px; height: 43px"
    >
      Reset
    </button>
    <button
      class="btn btn-primary mt-2"
      type="submit"
      style="width: 102px; height: 43px; margin-left: 7px"
    >
      Search
    </button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Product</th>
        <th scope="col">coin</th>
        <th scope="col">APR(%)</th>
        <th scope="col">Total Amount</th>
        <th scope="col">USD Equivalent</th>
        <!-- <th scope="col">Interest Earned</th> -->
        <th scope="col">Lock Period</th>
        <!-- <th scope="col">Time Left</th> -->
        <th scope="col">Auto Renew</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of earnData1| paginate: {itemsPerPage: this.filterObj.limit, currentPage: this.filterObj.p,totalItems: copyArr }">
        <td scope="row">{{obj.startDate}}</td>
        <td>{{obj.productName}}</td>
        <td>{{obj.coin}}</td>
        <td>{{obj.apr}}</td>
        <td>{{obj.totalAmt|number}}</td>
        <td>{{obj.usdEquivalence}}</td>
        <!-- <td>{{earnData?.publish_date}}</td> -->
        <td>{{obj.lockingPeriod}}</td>
        <!-- <td>{{earnData?.publish_date}}</td> -->
        <td>
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckChecked"
              checked
            />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls
  (pageChange)="pageChangeEvent($event)"
></pagination-controls>
</div>
