

<div class="container bg">
    <div style="margin-left: 30rem; font-size: 32px">
      <h3>Security Verification</h3>
    </div>
    <span style="margin-left: 420px; font-weight: 16px"
      >Complete the 2 Factor Authentiction to Procced further.</span
    >
    <div>
      <form class="row g-3" style="margin-left: 22rem; margin-top: 1rem"  [formGroup]="addBroker">
        <span style="font-size: 18px; font-weight: 550; color: #585858"
          >Phone number Verification</span
        >
        <app-loader *ngIf="fetching">{{fetching}}</app-loader>
        <!-- <div class="alert alert-success" *ngIf="this.successmessage" >{{this.successmessage}}</div>   -->
        <div class="alert alert-danger" *ngIf="this.message" >{{this.message}}</div> 
        <div class="col-md-6">
          <label for="inputPassword2" class="visually-hidden">Password</label>
          <input
            type=""
            class="form-control"
            id="inputPassword2"
            formControlName="smsOtp"
            [readonly]='!toggleButton'
            placeholder="Enter the 6-digit Verification code"
          />
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3" (click)="AddOtp()">Get OTP</button>
        </div>

        <span style="font-size: 18px; font-weight: 550; color: #585858"
          >Email Address Verification</span
        >
        <!-- <app-loader *ngIf="fetching">{{fetching}}</app-loader>
        <div class="alert alert-success" *ngIf="this.successmessage" >{{this.successmessage}}</div>  
        <div class="alert alert-danger" *ngIf="this.message" >{{this.message}}</div>  -->
        <div class="col-md-6">
          <label for="inputPassword2" class="visually-hidden">Password</label>
          <input
            type=""
            class="form-control"
            id="inputPassword2"
            formControlName="emailOtp"
            [readonly]='!toggleButton1'
            placeholder="Enter the 6-digit Verification code"
          />
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3" (click)="AddOtp1()">Get OTP</button>
        </div>

        <span style="font-size: 18px; font-weight: 550; color: #585858"
        >Authenticator Code</span>
        <!-- <div *ngIf="data1==false">
          <h5>Scan QR Code</h5>
          <div style="margin-left: -457px;">
            <div  style="text-align: center;">
              <img style="width:20%; height: 20%;" src="data:image/png;base64,{{data?.data}}" alt=".." />
            </div>
            <p class="qr-time text-center">The code is valid for the next 30 sec</p>
          </div>
        </div> -->
      <!-- <app-loader *ngIf="fetching">{{fetching}}</app-loader>
      <div class="alert alert-success" *ngIf="this.successmessage" >{{this.successmessage}}</div>  
      <div class="alert alert-danger" *ngIf="this.message" >{{this.message}}</div>  -->
      <div class="col-md-6">
        <label for="inputPassword2" class="visually-hidden">Password</label>
        <input
          type=""
          class="form-control"
          formControlName="googleAuthenticatorCode"
          id="inputPassword2"
          placeholder="Enter the 6-digit Verification code"
        />
      </div>

        <!-- <span style="font-size: 18px; font-weight: 500; color: #585858"
          >Security Verification unavailable?</span
        > -->
        <button type="button" class="btn stake" (click)="submit()" style="width: 50%; margin-left: 10px;">
          Continue
        </button>
      </form>
    </div>
  </div>
  
  