<div class="container-fluid bg">
  <div class="container bg1">
    <div class="row">
      <div class="col-md-6">
        <img
          src="../../../assets/AIDUS Card/section03/Security ilustration/home/section05.png"
          class="img"
          alt=""
        />
      </div>
      <div class="col-md-6">
        <h1
        class="text"
        >
          Transparency is our <br />everything
        </h1>
        <span
        class="text1"
          >Aidus platform discloses all the assets management data,<br />
          including deposits, withdrawals, profits & losses, balance bi-<br />weekly
          after being audite and notarized by a thir-party firm.</span
        >
        <h1
        class="text2"
        >
          Check our performance >
        </h1>
      </div>
    </div>
  </div>
</div>
