<div class="container-fluid bg">
  <div class="row">
    <div class="col-md-6">
      <img src="../../../assets/AIDUS Card/home/04.png" class="img1" alt="" />
    </div>
    <div class="col-md-6">
      <h1 class="text1">
        Start earning in 4<br />
        simple steps
      </h1>
      <div class="d-flex text">
        <img
          src="../../../assets/AIDUS Card/section03/1.png"
          class="image"
          alt=""
        />
        <h1 class="text2">
          Quick Sign Up
        </h1>
      </div>
      <span
      class="text3"
        >Sign up with your email.</span
      >

      <div class="d-flex text">
        <img
          src="../../../assets/AIDUS Card/section03/2.png"
          class="image"
          alt=""
        />
        <h1 class="text2">
          Verify Yourself
        </h1>
      </div>
      <span
      class="text3"
      
        >Complete the KYC verification.</span
      >
      <div class="d-flex text">
        <img
          src="../../../assets/AIDUS Card/section03/3.png"
          class="image"
          alt=""
        />
        <h1 class="text2">
          Transfer your crypto
        </h1>
      </div>
      <span
      class="text3"
       
        >Top up your crypto from an exchange, wallet or MetaMask.</span
      >
      <div class="d-flex text">
        <img
          src="../../../assets/AIDUS Card/section03/4.png"
         class="image"
          alt=""
        />
        <h1 class="text2">
          Subscribe to a product
        </h1>
      </div>
      <span
       class="text3"
        >Create your own portfolio and start earning immediately.</span
      >

    </div>
  </div>
</div>
