<div>
  <h3 class="card-title">Select Method</h3>

  <button class="btn" (click)="viaMetamask()"><img src="../../../../assets/AIDUS wallet assets/logos_metamask-icon-1.png" alt="Metamask icon"> Metamask</button>
  <div style="margin-top: -35px;">
  <img src="../../../assets/Landing page AIDUS/eth- Section 3.png" height="20px" width="20px" class="amt-img"/>
  <img src="../../../assets/Landing page AIDUS/AIDUS Section 3.png" height="20px" width="20px" class="amt-img"/>
  <img src="../../../assets/Landing page AIDUS/USDT Section 3.png" height="20px" width="20px" class="amt-img"/>
</div>
  <button class="btn" (click)="viaWallet()"><img src="../../../../assets/AIDUS wallet assets/Wallet icon.png" alt="Wallet icon"> Wallet Transfer</button>
  <div style="margin-top: -35px;">
  <img src="../../../assets/Landing page AIDUS/eth- Section 3.png" height="20px" width="20px" class="amt-img"/>
  <img src="../../../assets/Landing page AIDUS/AIDUS Section 3.png" height="20px" width="20px" class="amt-img"/>
  <img src="../../../assets/Landing page AIDUS/USDT Section 3.png" height="20px" width="20px" class="amt-img"/>
  <img src="../../../assets/Landing page AIDUS/btc Section 3.png" height="20px" width="20px" class="amt-img"/>
</div>
  <!-- <p style="color:#0354A6; margin-top:-34px">BITCOIN is only supported by wallet  ransfer</p> -->
</div>
