<div class="container-fluid bg">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="text1">Frequently Asked Questions</h1>
    <span class="text2"
      >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor Lorem ipsum dolor sit amet consetetur sadipscing elitr</span
    >
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h6 class="row1"  [routerLink]="['/home']">General</h6>
            <h6 class="row1"  [routerLink]="['/home/product-earn']">Earn</h6>
            <h6 class="row1"  [routerLink]="['/home/product-earnsafe']">Earn Safe</h6>
            <h6 class="row1"  [routerLink]="['/home/product-earnmax']">Earn Maximum</h6>
            <h6 class="row1"  [routerLink]="['/home/token']">AIDUS Token</h6>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                What problems does AIDUS solve?
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                AIDUS' vision is expanding the options of digital asset owners,
                and we also believe that every single person in the world should
                have the right to enjoy asset management. Since 2018 we have strived 
                to become the next borderless financial platform which enables millions
                 of crypto holders to enjoy the highest earn rates from their crypto assets.
              </div>
            </div>
          </div>
          <div
            class="accordion-item"
           
          >
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
              How does AIDUS manage my assets?
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                At AIDUS, we do not distribute the earnings from the assets 
                of the 3rd party nor we do not have borrowers for your deposits.
                Instead,your digital assets are managed by our in-house professional
                asset management team with minimized risk trading.
              </div>
            </div>
          </div>
          <div
            class="accordion-item"
           
          >
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
              Can I check the Investment Performance Report? And how do you ensure the transparency of the report?
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                All account performance data including deposit, withdrawal,
                 balance, gain/loss, biweekly rate of return, cumulative rate 
                 of return is disclosed biweekly. Not only that, to increase 
                 the transparency of the report,we are working with a world-class
                accounting firm and law firm to conduct a cross-check of our report. 
              </div>
            </div>
          </div>
          <div
            class="accordion-item"
           
          >
            <h2 class="accordion-header" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
              How much does AIDUS charge?
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Zero. We do not charge any fee including gas fee, transfer fee,
                withdrawal fee, hadling fee and performance fee. 
              </div>
            </div>
          </div>
          <div
            class="accordion-item"
           
          >
            <h2 class="accordion-header" id="headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
              How to deposit digital assets to AIDUS Platform?
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                You could transfer your digital assets to your private deposit address or alternatively,
                you could top up from your MetaMask wallet. For transferring from your external wallet or 
                an exchange, please follow the steps below:<br>

                <strong>1. </strong> Log in to your AIDUS account.<br>
                
                <strong>2. </strong>  Complete Identity Verification if you haven't done it already. Don't worry, 
                  the process is very quick and intuitive. and choose the digital assets and enter the amount.<br>
                
                  <strong>3. </strong>  Choose 'Wallet Transfer' and scan QR code or copy your private deposit address. <br>
                
                  <strong>4. </strong>  Paste your deposit address in the "send to/withdrawal address" field on the platform/wallet
                   from which you will transfer your assets to your AIDUS account.<br>
                
                   <strong>5. </strong>  You will see your crypto deposit in your AIDUS account as soon as the
                   necessary amount of network confirmations is reached.
              </div>
            </div>
          </div>
          <div
          class="accordion-item"
        
        >
          <h2 class="accordion-header" id="headingSix">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSix"
              aria-expanded="false"
              aria-controls="collapseSix"
            >
            How to connect Metamask to Aidus Platform?
            </button>
          </h2>
          <div
            id="collapseSix"
            class="accordion-collapse collapse"
            aria-labelledby="headingSix"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              By using the web browser version of the Aidus platform, you can now top up crypto assets directly from your MetaMask account. To initiate a transfer, you would first need to connect your MetaMask wallet to your Aidus account. If you do not have it installed, follow their website's steps. Once you have it up and running, you connect it to our platform following these straightforward steps:<br>

              <strong>1.</strong> Log in to your AIDUS account.<br>
              
              <strong>2.</strong> Complete Identity Verification if you haven't done it already. Don't worry, the process is very quick and intuitive. 
              and choose the digital assets and enter the amount.<br>
              
              <strong>3.</strong> Choose 'Via Metamask' and once you enter the desired amount and click the ‘Top Up’ button, the MetaMask extension pop-up will open in the top-right corner of your browser. On the MetaMask extension screen, you will see the asset amount you have available for transfer from the wallet you have selected.<br>
              
              <strong>4.</strong> On the MetaMask extension screen you will be able to review the transaction details. If everything is in order, scroll to the bottom of the pop-up screen and click ‘Confirm’.<br>
              
              <strong>5.</strong> Once you confirm your top-up, you will receive confirmation of the successfully executed transfer. Additionally, you will be able to cancel or monitor the status of your transaction from the MetaMask extension. Just click on the MetaMask extension icon on the top-right corner of your browser window and the MetaMask pop-up will open.<br>
            </div>
          </div>
        </div>
        <div
        class="accordion-item"
      
      >
        <h2 class="accordion-header" id="headingSeven">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSeven"
            aria-expanded="false"
            aria-controls="collapseSeven"
          >
          What information do you need in order to complete my KYC verification?
          </button>
        </h2>
        <div
          id="collapseSeven"
          class="accordion-collapse collapse"
          aria-labelledby="headingSeven"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            When verifying your Celsius account you will need you to provide the following personal information:<br>

            First name;<br>
            Last name;<br>
            Home address;<br>
            Citizenship country;<br>
            A picture of your government-issued document;<br>
            TaxID (this information is currently only mandatory for our US-based users (SSN)).<br>
            Once your ID has been verified you can then start using your Celsius account.<br>
            
            Our KYC/AML provider is Onfido, which is a large and well-known company that processes KYC applications for companies like Revolut, Orange, Couchsurfing and Bitstamp.<br>
            
             
            
            For more information on how to create your Celsius account, please watch the video below.<br>
          </div>
        </div>
      </div>
      <div
      class="accordion-item"
     
    >
      <h2 class="accordion-header" id="headingEight">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseEight"
          aria-expanded="false"
          aria-controls="collapseEight"
        >
        How long does verification take? What do I do if it takes longer than expected?
        </button>
      </h2>
      <div
        id="collapseEight"
        class="accordion-collapse collapse"
        aria-labelledby="headingEight"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Most KYC applications are approved within minutes when a high-quality photo of a supported document is uploaded. High-quality meaning no blur, no cut off corners, no blocked text, no glare and high resolution.
          However, sometimes, applications can take up to 24-72 hours (during weekdays) to process. If your application has been pending for over 72 hours, you can reach out to info@aidus.io and we will be happy to help. 
        </div>
      </div>
    </div>
        </div>
      </div>
    </div>
  </div>
</div>
