<div class="position-relative" style="height: 479px; color: white">
  <img
    class="position-absolute"
    src="../../assets/Landing page AIDUS/Footer bg.png"
    style="width: 100%; height: 600px;"
    alt=""
  />
  <div
    class="container position-relative d-flex flex-column justify-content-around align-items-center"
    style="width: 100%; height: 100%; z-index: 10"
  >
    <div class="row" style="height: 280px; width: 100%; margin-top: 145px">
      <div class="col-md-3 d-flex flex-column">
        <h4 class="footer-headings">AIDUS</h4>
        <p
          style="
            width: 230px;
            height: 56px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: -0.02em;
            color: #ffffff;
          "
        >
          For business inquiries contact us at info@aidus.io
        </p>
        <!-- <div class="d-flex flex-row social-icons">
          <a href="#"><fa-icon [icon]="linkedIn"></fa-icon></a>
          <a href="#"><fa-icon [icon]="instagram"></fa-icon></a>
          <a href="#"><fa-icon [icon]="twitter"></fa-icon></a>
          <a href="#"><fa-icon [icon]="facebook"></fa-icon></a>
        </div> -->
      </div>
      <div class="col-md-2 d-flex flex-column"style="margin-left: 40px;">
        <h4 class="footer-headings">Products</h4>
        <div class="d-flex flex-column justify-content-around">
          <a [routerLink]="['/home/product-earn']" style="margin-bottom: 18px">Earn</a>
          <a [routerLink]="['/home/product-earnsafe']" style="margin-bottom: 18px">Earn Safe</a>
          <a  [routerLink]="['/home/product-earnmax']" style="margin-bottom: 18px">Earn Maximum</a>
          <!-- <a href="" style="margin-bottom: 18px">Pricing</a> -->
        </div>
      </div>
      <div class="col-md-2 d-flex flex-column" style="margin-left: 20px;">
        <h4 class="footer-headings">Transparency</h4>
        <div class="d-flex flex-column justify-content-around">
          <a   [routerLink]="['/home/transparency-auditreport']" style="margin-bottom: 18px">Performance Report </a>
          <a  [routerLink]="['/home/transparency-security']"style="margin-bottom: 18px">Security </a>
          
        </div>
      </div>
      <div class="col-md-2 d-flex flex-column " style="margin-left: 20px;">
        <h4 class="footer-headings">About Us</h4>
        <div class="d-flex flex-column justify-content-around">
          <a [routerLink]="['/home/about-us-company']" style="margin-bottom: 18px">Company </a>
          <a  [routerLink]="['/home/about-us-ambassador']" style="margin-bottom: 18px">Ambassador </a>
          <a  [routerLink]="['/home/token']" style="margin-bottom: 18px">Token</a>
        </div>
      </div>
      <div class="col-md-2 d-flex flex-column" style="margin-left: 20px;">
        <h4 class="footer-headings">Follow Us</h4>
        <div class="d-flex flex-column social-icons">
          <a href="https://twitter.com/AIDUSofficial"
            ><fa-icon style="margin-right: 11px;margin-bottom: 8px;" [icon]="twitter"></fa-icon
            >Twitter</a
          >
          <a href="https://t.me/aidusofficial" style="margin-bottom: 8px;margin-top: 8px;"
            ><img
              src="../../../assets/telegram.png"
              style="height: 13; width: 15;margin-right: 11px;"
              alt=""
          />Telegram</a>
          <a href="https://www.facebook.com/AIDUSofficial/" style="margin-bottom: 8px;"
            ><fa-icon style="margin-right: 14px" [icon]="facebook"></fa-icon
            >Facebook</a
          >
          <a href="https://www.instagram.com/aidus_official/" style="margin-bottom: 8px;"
            ><fa-icon style="margin-right: 11px" [icon]="instagram"></fa-icon>
            Instagram</a
          >
          <a href="https://www.reddit.com/user/AIDUSofficial" style="margin-bottom: 8px;"> <img
            src="../../../assets/Vector.png"
            style="height: 13; width: 15;margin-right: 11px;"
            alt=""
        />Reddit</a>
          <a href="https://aidusofficial.medium.com/" style="margin-bottom: 8px;"><img
            src="../../../assets/medium.png"
            style="height: 13; width: 15;margin-right: 11px;"
            alt=""
        />Medium</a>
          <!-- <a href="#"><fa-icon style="margin-top: 10px; margin-right: 25px;" ></fa-icon>ENGLISH</a> -->
          <div style="margin-top: 20px;">
            <img src="../../../assets/Feather Icon.png" style="height: 19px; width: 19px;margin-bottom: 4px;" alt="">
            <span style="margin-left: 11px;">ENGLISH</span>
          </div>
        </div>
      </div>
      <div style="margin-top: -17px; margin-bottom: 20px">
        <p>
          All Rights Reserved © 2022 AIDUS | Privacy Policy | Terms & Conditions
        </p>
      </div>
    </div>
    <div style="margin-top: 60px;">
      <img src="../../assets/Landing page AIDUS/Footer.png" width="100%" />
    <p style="font-size: 14px;">
      Digital assets are not legal tender, is not backed by the government, and
      your accounts held at aidus.io are not subject to deposit insurance
      afforded by the government such as FDIC. Dealing in digital assets can
      incur risk of financial loss. Digital assets are by their nature highly
      volatile and you should be aware that the risk of loss in trading,
      investing or holding digital assets can be substantial. Aidus.io does not
      provide any financial, legal or tax advice, nor should this website be
      viewed as an offer or inducement to make any financial decisions. Not all
      products and services are available in all geographic areas and
      legislative and regulatory changes or actions at the state, national, or
      international level may adversely affect the service of   <a href="https://aidus.io" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color:white"> https://aidus.io</a>
      some jurisdictions and aidus.io can not guarantee the continued and
      uninterrupted provision of the services to you. Rates for the products at
      aidus.io are subject to change.
    </p>

    </div>
  </div>
</div>
